<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <%- include('../partials/_navbar.ejs') %>-->
    <%- include('../partials/_hamburger.ejs') %> 
    <h1>Welcome <%= user.username %>!</h1>
    <a href="/profile/new">Add a new game to your profile</a><br><br>
    <% games.forEach(game => {%>
        <li>
            <% if (game.image !== ""){%>
                <img src="<%= game.image %>" width="500" ><br>
            <%} %>
            <a href="/profile/<%= game._id %>"><%= game.name %></a>
        </li>
    <%}); %>
</body>
</html>