<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= user.username %></title>
</head>

<body>
    <%#- include('../partials/_navbar.ejs') %>
    <%- include('../partials/_hamburger.ejs') %>
    <h3><%= user.username %> has spent <%= totalMoneySpent %> BHD an all these games</h3>
    <div class="card-container">
        <% games.forEach(game => {%>
            <div class="card">
                <h1><%= game.name %></h1>
                <% if (game.image !=="" ){%>
                    <img src="<%= game.image %>" width="500">
                <%} %>
                <p>you've played <%= game.completion ? game.completion : 'N/A'%>% of the game</p>
                <p>Game price: <%= game.price ? game.price : 'N/A' %>, play date: <%= game.playDate ? game.playDate : 'N/A'%></p>
            </div>
        <%}); %>
    </div>
</body>

</html>