<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h3><%= user.username %> has spent <%= totalMoneySpent %> BHD an all these games</h3>
    <% games.forEach(game => {%>
        <h1><%= game.name %></h1>
        <% if (game.image !=="" ){%>
            <img src="<%= game.image %>">
        <%} %>
        <p>you've played <%= game.completion %>% of the game</p>
        <p>Game price: <%= game.price %>, play date: <%= game.playDate %></p>
    <%}); %>
</body>

</html>